.sectionCV{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    & p{
        color: black;
        margin-bottom: 10px;
        text-align: start;
    }
    & h1 {
        width: 100%
    }
    & ul{
        text-align: start;
        text-decoration: show;
        & li {
            list-style: disc;
            margin-left: 50px;
            color: black;
        }
    }
}