.slide-in-right {
    animation: 2s slidein;
}
.slide-in-left{
    animation: 3.5s slideinLeft;

}
@keyframes slidein {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }
    to {
        translate: 0 0;
        scale: 100% 1;
    }
}
@keyframes slideinLeft {
    0% {
        opacity: 0;
        }
    60%{
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
