.custom-mask {
    mask-image: linear-gradient(to bottom, transparent, black 50%, black 50%, transparent),
                linear-gradient(to right, transparent, black 30%, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 0%, black 60%, transparent),
                       linear-gradient(to right, transparent, black 30%, black 80%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}
.animate-typing{
    animation:
        typing 2.5s steps(20),
        cursor .50s step-end infinite alternate;
}
@keyframes cursor {
    50%{ border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
}
svg{
    color:rgb(37, 99, 235);
    font-size: 40px;
}
